@import 'tailwindcss';

@theme {
    --font-title: "FunnelDisplay", "sans-serif";
}

@layer base {
	html {
		font-family: 'FunnelSans', sans-serif;
	}

	@font-face {
		font-family: 'FunnelSans';
		src: url('/fonts/funnel-sans/regular.ttf');
		font-display: swap;
	}

	@font-face {
		font-family: 'FunnelSans';
		src: url('/fonts/funnel-sans/italic.ttf');
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'FunnelDisplay';
		src: url('/fonts/funnel-display/regular.ttf');
		font-display: swap;
	}
}
